<div class="clear-both"></div>
<section class="footer">
 <div>
  <footer>
    <p>
      <ul>
        <li>
            <a href="/"><img src="http://kronusproductions.com/assets/images/3b_133_100.jpg" alt="KRONUS Productions L.L.C." width="63" /></a>
            <p>
            KRONUS Productions L.L.C.
            <span class="mDate">&copy;{{mFullYear}}</span>
            </p>
        </li>
	  </ul>
    </p>
  </footer>
 </div>
</section>